@import "../_App.module.scss";
.SideBar {
    padding-left : 15px  ;
    width: 300px;
    background-color: #fff ;
    transition : all .4s ;
    a {
        color: $Danger;
    }
    .ExamplesList {
        list-style: none;
        padding: 0px;
        font-size: 15px;
    }
    .ToggleSideBarButton {
        display: none;
    }
    @media (min-width:977px) {
        border-radius: 20px;
        position: relative;
    }
    @media (max-width: 976px) {
        position: fixed;
        z-index : 2 ;
        border-radius : 0px ;
        width : 250px ;
    }
}
.SideBarClosed {
    @media (max-width: 976px) {
        right: 100%;
        .ToggleSideBarButton {
            display: block;
            position: fixed;
            bottom: 20px;
            left: 20px;
            background-color: transparent;
            color: $MainColor;
            outline: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
        }
    }
}
.SideBarOpened{
    @media (max-width: 976px) {
        left : 0px ;
        overflow: auto ;
        max-height : 100vh ;
    }
}