@import "../App.module";

.SubTitle {
    font-weight: 400;
    padding-right: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

.HorizontalLine {
    border-style: dashed;
    border-color: $MainBorderColor ;
}


.Layout{
    background-color: rgba(0,0,0,.8);
    position : fixed ;
    top : 0px ;
    left : 0px ;
    right : 0px ;
    bottom : 0px ;
    z-index : 1 ;
    transition : all .4s ;
}

.BlockQuote {
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    text-transform: capitalize;
    padding: 10px 10px 10px 0px ;
    line-height: 20px;
    p {
        background-color: $MainBg;
        padding: 15px 5px;
        font-style: italic;
        position: relative;
        border-radius: 5px;
        &::before {
            position: absolute;
            top: 5px;
            content: "“";
            left: 1px;
            font-size: 25px;
        }
        &::after {
            position: absolute;
            bottom: 0px;
            content: "”";
            right: 5px;
            font-size: 25px;
        }
    }
    footer {
        text-align: right;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 10px;
            border-right: solid 15px transparent;
            border-left: solid 15px transparent;
            border-top: solid 15px rgba(0, 0, 0, 0.02);
            border-bottom: solid 15px transparent;
            top: -15px;
            right: 40px;
        }
    }
}


.Button{
    background-color: transparent ;
    border : none ;
    outline : none ;
    transition : all .4s ;
    border-style: solid ;
    border-width: 1px ;
    border-color : transparent ;
    margin : 4px ;
    cursor : pointer ;
    color : $MainColor ; 
    &:hover{
        border-color : $MainBorderColor   ; 
    }
    @media (min-width:401px) {
        font-size : 14px ;
        padding : 10px ;
    }
    @media (max-width:400px) {
        font-size : 11px ;
        padding : 0px ;
    }
}