.Header {
    width: 100%;
    text-align: center;
    .Title {
        font-size: 100px;
        margin: 0px;
        font-weight: 600;
        text-rendering: optimizeLegibility;
        color: rgba(175, 47, 47, 0.15);
    }
}
