@import"../_App.module.scss" ;
.Container{
    display : flex ;
    justify-content: center ;
    min-height : 100vh ;
}

.MainContent{
    padding : 10px ;
    width : 600px ;
    @media (max-width:572px) {
        width : 400px ;
        max-width: 400px;
    }
}